html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  padding-top: 20px;
  background-color: #CCCCCC;
}

img {
  border-radius: 50%;
  width: 50px;
  padding: 2px;
}

.container {
  max-width: 700px;
}

.row {
  margin-bottom: 5px;
  padding: 5px;
  line-height: 50px;
  background-color: #35586C;
  color: #ffffff;
  font-family: 'Bungee Shade', cursive;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
}

#datarow {
  background-color: #ffffff;
  color: inherit;
  font-family: 'Audiowide', cursive;
}
